@import url("standardization.css");
body,
input,
textarea,
select { font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #333; }
textarea { overflow: auto; }
body { background: #fefcea; line-height: 1.8; }
a { color: #1f3a87; text-decoration: none }
a:hover { color: #d30000; text-decoration:underline; }
/*浮动*/
.f_l,
.list_f_l li { float: left; }
.list_f_l { overflow: hidden; }
.f_r{ float: right; }
/*右外边距8px*/
.m_8 { margin-right: 8px; }
/*下外边距*/
.m_b_16 { margin-bottom: 16px; }
.m_b_10 { margin-bottom: 10px; }
.m_b_20 { margin-bottom: 20px; }
/*单行文本框*/
.text_box { border: 1px solid #e0dbb1;  height: 16px; line-height: 16px; padding: 3px; }
/*多行文本框*/
textarea { padding: 5px; border: 1px solid #e0dbb1; background: #fff; }
/*按钮*/
.btn_style { border: 0; background: url(../images/sprites.gif) no-repeat -152px -142px; width: 48px; height:20px; cursor: pointer; }
.btn_4 { width: 75px; background-position: -125px -220px; }
.btn_a_12 { padding: 3px 8px; *padding: 4px 8px 2px; background: #78582a; text-decoration: none; color: white; -moz-border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
/*清空浮动*/
.clear { clear: both; }
/*首条*/
.number_one { font-family: "黑体"; font-size: 20px; font-weight: normal; }
/*字体大小*/
.font_14 { font-size: 14px; }
.font_16 { font-size: 16px; }
/*一种数字字体*/
.georgia_num { font:18px Georgia; }
/*居中对齐*/
.text_center { text-align: center; }
/*居右对齐*/
.text_right { text-align: right; }
/*颜色*/
.grey { color: #555; }
.ccc { color: #ccc; }
.red,
.color_a a:hover { color: #d30000; }
a.btn_a_12:hover { color: white; text-decoration: none; }
.blue,
.color_a a{ color: #1f3a87; }
.blue_green { color: #21758b; }
.violet { color: #570586; }
.green { color: green; }
/*sprites*/
.sprites { background: url(../images/sprites.gif) no-repeat; }
/*时间*/
.time_at { font-family: "Courier New", Courier, monospace; font-size: 11px; }
/*栏目标题字体及大小*/
.title { font-size: 14px; font-family: "宋体" Verdana, Arial, Helvetica, sans-serif; font-weight: bold; color: #573e19; }
/*链接隐藏文字*/
.a_text_hidden { text-indent: -99999px; display: block; overflow: hidden; }
/*盒子边框与背景*/
.box { border: 1px solid #e5e5e5; padding: 16px; overflow: hidden; background: #fff; }
/*CSS3*/
.radius_3 { -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
/*表单证验退出之类的提示样式*/
.dialog_normal,
.dialog_error { padding: 9px 13px; margin-bottom: 8px; color: #333; }
.dialog_normal { border: 1px solid #e6db55; background: #ffffdb; }
.dialog_error { border: 1px solid #cc0000; background: #ffe8e8; }
.dialog_error_inpage,
.dialog_normal_inpage { padding: 5px 10px; }

/******** Ubb Style *********/
.u{ text-decoration:underline;}
.i{ font-style:italic;}
.b{ font-weight:bolder;}

h1,h2 { color: #573e19; }