@import url('global.css');
input:focus { outline: none; }
#index_page #branding { height: 53px; background:url(../images/bg_top_repeat_x.gif) repeat-x; padding: 0 25px 0 18px; position: relative; }
#index_page #branding,
#index_page #branding a { color: #f4f1d9; }
#index_page #branding h1 { width: 150px; height: 47px; background: url(../images/logo.gif) no-repeat; }
#index_page #branding h1 a { width: 135px; height: 47px; }
#index_page #tool { padding-top: 15px; }
#index_page .collapse { display: none; }
#index_page .drop ul a:hover { text-decoration: underline; }
#index_page #drop_control { width: 26px; height: 21px; cursor: pointer; background-position: 0 -171px; }
#index_page .drop a { text-decoration: none; }
#index_page #tool a:hover { color: white; }
/*块级菜单*/
#index_page #block_menu { padding-left: 30px; font-size: 14px; margin-top: 12px; }
#index_page #block_menu li { margin-right: 10px; }
#index_page #block_menu a { color: #fff; text-decoration: none; width: 78px; height: 24px; display: block; text-align: center; }
#index_page #block_menu .bm_cur { background-position: -122px -248px; color: #573e19; }

#index_page #nav_tool { width: 205px; padding: 0 0 0 15px; margin-top: 20px; overflow: auto; position: relative; }
#index_page #nav_tool_in { width: 190px; }
/*分割装饰线*/
#index_page .split { height: 29px; background-position: -2px -73px; }
#index_page #panel,
#index_page .top_menu { background: #78582a; height: 27px; font-weight: normal; color: white; line-height: 27px; padding-left: 35px; }
#index_page #panel { background: #78582a url(../images/sprites.gif) no-repeat 3px 3px; }
#index_page #panel a { color: white; }
/*顶级菜单*/
#index_page .block_menu_content { display: none; }
#index_page .bmc_cur { display: block; }
#index_page .top_menu { height: 25px; line-height: 25px; padding-left: 0; border-top: 1px solid #8a6630; border-bottom: 1px solid #573e19; }
#index_page .top_menu .drop_control { width: 28px; height: 26px; background-position: -88px -171px; cursor: pointer; }
/*子菜单展开时,右边箭头的样式*/
#index_page .top_menu .drop_control_options_show { width: 28px; height: 26px; background-position: -163px -171px; cursor: pointer; }
#index_page #panel,
#index_page #nav_tool .top_menu a.nor_a { color: white; }
#index_page .sub_menu { border: 1px solid #78582a; border-top: 0; border-bottom: 0; background: #fff; }
#index_page .sub_menu a.nor_a { background: #fff; }/*给个背景让ie7中的a的宽度正常*/
#index_page .sub_menu_last { border-bottom: 1px solid #78582a; }
#index_page .sub_menu a.nor_a:hover { color: #573e19; }
/*当前状态的样式*/
#index_page .current a.nor_a { font-weight: bold; color: #573e19; background: #f9f4ce; }
#index_page .top_menu a.nor_a { display: block; padding-left: 20px; outline: none; }/*火狐下display:block后,虚框会出现滚动条,于是用outline:none*/
/*没有子菜单的顶级菜单样式*/
#index_page .sub_menu a.nor_a { display: block; height: 25px; line-height: 25px; padding: 0 10px; }
#index_page .top_menu a.nor_a:hover { text-decoration: underline; }
#index_page .sub_menu a.nor_a:hover { background: #f9f4ce; text-decoration: none; }

#index_page #content { margin-left: 227px; _margin-left: 224px; padding: 20px 0 0 0; height: 100%; } /*100%修复IE6的浮动框架*/
#index_page #right { width: 100%; height: 100%; }

/*登录*/
#login_page { background: #fefcea url(../images/login_logo.gif) no-repeat center 155px; }
#login_page #go_index { height: 35px; background: #78582a; line-height: 35px; padding-left: 20px; }
#login_page #go_index a { color: #f4f1d9; text-decoration: none; }
#login_page #go_index a:hover { color: white; }

#form_container { width: 292px; padding: 5px; background: #f5f0c8; margin: 200px auto 50px; color: #333; }
#form_container #user_form { width: 240px; padding: 25px 25px 12px; background: #fff; }
#form_container #login_prompt_error { background: url(../images/sprites-register.gif) no-repeat -93px 0; padding: 3px 0 3px 25px; }
#form_container #login_prompt_normal { background: url(../images/bg-prompt-other.gif) no-repeat 0 4px; padding: 3px 0 3px 20px; }
#form_container #user_form,
#form_container input,
#form_container #user_p { border: 1px solid #d1cca3; }
#form_container input,
#form_container #user_p { border-color: #9e9e9e; }
#form_container p { overflow: hidden; width: 240px; margin-bottom: 10px; }
#form_container #user_p { background: #fff; height: 53px; margin-bottom: 20px; width: 238px; }/*用户名*/
#form_container #user_p input { border: 0; font-size: 24px; height: 26px; padding-left: 8px; margin-top: 12px; }
#form_container label { float: left; width: 55px; font-size: 14px; cursor: pointer; text-align: right; margin-right: 10px; _margin-right: 6px; height: 25px; line-height: 25px; *line-height: 32px; }
#form_container #user_p label { text-indent: -99999px; display: block; height: 53px; background: url(../images/sprites-register.gif) no-repeat; text-align: left; margin-right: 0; }
#form_container input { width: 167px; height: 21px; padding: 3px; *padding: 4px 3px 2px; line-height: 21px; color: #555; font-size: 18px; font-family: Arial, Helvetica, sans-serif; }
#form_container #code_p input { width: 42px; }
#form_container #code_img { vertical-align: top; margin-left: 10px; cursor: pointer; }
#form_container #btn_p { text-align: right; }
#form_container #btn_p input { width: 76px; height: 36px; text-indent: -99999px; border: 0; background: url(../images/sprites-register.gif) no-repeat 0 -103px; cursor: pointer; }
#form_container #btn_p .btn_update { background-position: -93px -67px; }

/*操作页*/
#operation_page { background: #fefcea; padding-right: 20px; padding-bottom: 2px; }
#operation_page .title { font-weight: bold; font-size: 12px; color: #573e19; }
#operation_page table{ width: 100%; border: 1px solid #e0dbb1; }
#operation_page th { font-weight: bold; color: #573e19; }
#operation_page table.table_data_box .tr_even { background: #fefcea; }
#operation_page td,
#operation_page th { border-bottom: 1px solid #e0dbb1; padding: 7px 7px 5px; }
#operation_page .table_data_box .check_box { margin-left: 8px; *margin-left: 4px; }
#operation_page thead th,
#operation_page tfoot th { background: #ebe7c3 url(../images/bg_title_repeat_x.gif) repeat-x; padding: 3px 7px 3px; }
#operation_page .table_data_box td,
#operation_page .table_data_box th,
#operation_page .table_data_box input { vertical-align: text-top; }
#operation_page .table_box tr,
#operation_page .table_data_box tr { background: #fff; }
#operation_page .table_box td,
#operation_page .table_box th,
#operation_page .table_no_border td,
#operation_page .table_no_border th,
#operation_page .table_no_border { border: 0; } /*table_box表格里没有border,并且不会间隔变色*/
#operation_page .table_no_border td,
#operation_page .table_no_border th { vertical-align: top; }
#operation_page .table_no_border thead th { background: #efefef; color: #444; border: 1px dashed #ccc; padding: 4px 7px 4px; }

/*分页*/
.page{ font: 12px Tahoma, Arial; padding: 3px 0; height: 22px; line-height: 22px; }
.page a:hover { border: 1px solid #78582a; color: #573e19; text-decoration: none; }
.page a,
.page .page_current,
.page .page_disabled { text-decoration: none; padding: 3px 5px; border: 1px solid #e0dbb1; color: #573e19; }
.page .page_current { border-color: #78582a; color: white; background: #78582a; }
.page .page_disabled { color: #666; border: 1px solid #999; }
.page .page_text,
.page .page_current,
.page .page_num,
.page .page_ommit { margin-right: 5px; }
.page .page_prev a { padding-left: 15px; background: url(../images/arrow_left.gif) no-repeat 2px 7px; *background: url(../images/arrow_left.gif) no-repeat 2px 8px; }
.page .page_next a { padding-right: 15px; background: url(../images/arrow_right.gif) no-repeat 36px 7px; *background: url(../images/arrow_right.gif) no-repeat 36px 8px; }
.page .page_first a { padding-left: 15px; background: url(../images/arrow_first.gif) no-repeat 3px 7px; *background: url(../images/arrow_first.gif) no-repeat 3px 8px; }
.page .page_last a { padding-right: 15px; background: url(../images/arrow_last.gif) no-repeat 31px 7px; *background: url(../images/arrow_last.gif) no-repeat 31px 8px; }

/*树型菜单*/
.qxd_tree { width: 187px; overflow: hidden; padding-left: 1px; padding-bottom: 5px; position: relative; top: 0; left: 0; }
.qxd_tree a { display: block; height: 18px; line-height: 18px; *line-height: 21px; overflow: hidden;  margin-left: -15px; padding-left: 15px; }
.qxd_tree .qxd_tree_node a span { display: block; }
.qxd_tree .qxd_tree_node { padding-left: 15px; background: url(../images/tree-line.gif) repeat-y; }
.qxd_tree .qxd_tree_node .qxd_has_drop { background: url(../images/bg_qxd_tree.gif) no-repeat 0 -218px; } /*tree-plus.gif*/
.qxd_tree .qxd_tree_node .qxd_fold_last_menu { background: #fff url(../images/bg_qxd_tree.gif) no-repeat 0 1px; } /*tree-end-plus.gif*/
.qxd_tree .qxd_tree_node .qxd_has_drop span { padding-left: 17px; background: url(../images/bg_qxd_tree.gif) no-repeat 0 -365px; } /*tree-folder-open.gif*/
.qxd_tree .qxd_tree_node .qxd_drop_hidden span { background: url(../images/bg_qxd_tree.gif) no-repeat 0 -292px; } /*tree-folder.gif*/
.qxd_tree .qxd_tree_node .qxd_no_drop span { padding-left: 17px; background: url(../images/bg_qxd_tree.gif) no-repeat 1px -587px; } /*tree-page.gif*/
.qxd_tree .qxd_tree_node .qxd_drop_show { background: url(../images/bg_qxd_tree.gif) no-repeat 0 -144px; } /*tree-minus.gif*/
.qxd_tree .qxd_tree_node .qxd_unfold_last_menu { background: #fff url(../images/bg_qxd_tree.gif) no-repeat 0 -73px; } /*tree-end-minus.gif*/
.qxd_tree .qxd_tree_node a.qxd_no_drop { background: url(../images/bg_qxd_tree.gif) no-repeat 0 -439px; } /*tree-middle.gif*/
.qxd_tree .qxd_tree_node a.qxd_last_menu { background: #fff url(../images/bg_qxd_tree.gif) no-repeat 0 -519px; } /*tree-end.gif*/
.qxd_tree .qxd_tree_node .qxd_cur { font-weight: bold; }
.qxd_tree .qxd_tree_node .collapse { display: none; }
/*为了遮住虚线*/
.qxd_tree .qxd_tn_last { background: #fff; position: relative; left: -15px; margin-bottom: 1px; }
.qxd_tree .qxd_tn_last .qxd_tree_node  { margin-left: 15px; }
.qxd_tree .qxd_tn_last .qxd_has_drop { margin-left: 0px; }

/*盒子*/
#dark_bg { background: #fff; opacity: 0.40; filter: alpha(opacity=40); z-index: 10000; }
#overlay { background: #78582a; opacity: 0.80; filter: alpha(opacity=80); position: fixed; top: 50%; left: 50%; width: 534px; height: 560px; margin:-256px 0 0 -256px; z-index: 10001; }
#new_dialogue{ margin:-250px 0 0 -250px; position: fixed; top:50%; left:50%; z-index: 10002; }
#new_dialogue h2{ background: #78582a; border: 1px solid #573e19;  border-bottom: 0; height:26px; line-height: 26px; padding:0 10px; width: 500px; color:#fff; font-weight: normal; font-size: 12px; }
#dialogue_close { cursor:pointer; font: 14px Geneva, Arial, Tahoma; top: 2px; right: 9px; font-weight: bold; padding: 3px; background: #573e19; float: right; margin-top: 2px; }
#dialogue_content { padding:10px; width:500px; height:500px; background:#fff; border: 1px solid #573e19; border-top: 0; background: #fefcea; }
#dialogue_content #test_iframe { width: 500px; height:500px; }
#dark_bg, #overlay, #new_dialogue { _overflow-x: hidden; _overflow-y: auto; _position: absolute; _margin-top: 0;
_top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px'); }
#overlay { _margin-top: -6px; }
#test_iframe { overflow: auto; }